* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	font-family: 'Gilroy';
	color: #1a1a1a;
}

li {
	list-style: none;
}

.container {
	max-width: 1776px;
	margin: 0 auto;
}

.wrapper {
	max-width: 100%;
	background: #f3f3f5;
	height: 950px;
	position: relative;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Light.otf') format('opentype'),
		url('fonts/Gilroy-ExtraBold.otf') format('opentype');
}

@font-face {
	font-family: 'RoadRadio';
	src: url('fonts/roadradio_bold.otf') format('opentype');
}

p {
	font-family: 'Gilroy';
}

body {
	color: #1a1a1a;
}

h1 {
	font-size: 52px;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 52px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'RoadRadio';
}

.kaput__wrapper {
	padding-top: 72px;
	background: #F3F3F5;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.kaput__wrapper h3 {
	font-family: 'Gilroy';
	font-size: 52px;
	font-weight: bold;
	line-height: 67.6px;
	color: #1a1a1a;
	margin-bottom: 24px;
	margin-top: 42px;
}

.kaput__wrapper button {
	width: 227px;
	height: 48px;
	border: #1a1a1a solid 1px;
	background: transparent;
	font-family: 'RoadRadio';
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 7px;
	cursor: pointer;
}

.kaput__bg {
	background: #F3F3F5;
}